#poke-list {

  a {
    color: #333;
    text-decoration: none;
  }

  .card {
    cursor: pointer;

    .card-img-top {
      background: #ccc;
    }

    .card-title {
      text-transform: capitalize;
    }
  }
}